:root {
  --primary: #fec600;
  --secondary: #5b5b58;
  --accent: #ffe27a;
}

/* Configurações globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--secondary);
  color: white;
  overflow-x: hidden;
}

.primary-bg {
  background: linear-gradient(135deg, var(--primary), var(--accent));
  color: white;
  padding: 100px 20px;
}

.primary-bg h2 {
  color: var(--secondary);
  text-align: center;
}

/* -- diagonal -- */
.divider-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: var(--primary);
}

.divider-bottom svg {
  position: relative;
  display: block;
  width: 100%;
  width: calc(100% + 1.3px);
  height: 150px;
}

.divider-bottom .shape-fill {
  fill: var(--secondary);
}
/* -- diagonal -- */

/* -- curvas opacas -- */
.curves-top {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.curves-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.curves-top .shape-fill {
  fill: var(--primary);
}
/* -- curvas opacas -- */

/* -------- start -------- */
#start {
  background: linear-gradient(to top, var(--primary), var(--accent));
  color: white;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

#start h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--secondary);
}

#start p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 20px;
}

/* -------- start -------- */

/* -------- about -------- */
#about {
  padding: 100px 20px;
  text-align: center;
}

#about .content {
  max-width: 900px;
  margin: auto;
}
/* -------- about -------- */

.cta-button {
  background-color: white;
  color: var(--secondary);
  padding: 15px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-button:hover {
  background-color: black;
  color: var(--primary);
  transform: scale(1.05);
}

/* -------- services -------- */
#services {
  padding: 100px 20px;
  background: linear-gradient(to bottom, var(--primary), var(--accent));
  /* background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05)),
    linear-gradient(to bottom, var(--primary), var(--accent));
  background-size: 30px, 100%; */
}

#divider-services-top {
  background-color: var(--primary);
  transform: rotate(0deg);
  transform: rotateY(180deg);
}

#divider-services-bottom {
  background-color: var(--accent);
}

#divider-services-bottom svg {
  transform: rotateY(180deg);
}

/* Cards de Serviço */
.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-block: 20px;
}

.card {
  background: var(--secondary);
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.card h3 {
  color: var(--primary);
  margin-bottom: 10px;
}
/* -------- services -------- */

/* -------- clients -------- */
#clients {
  padding: 100px 20px;
  text-align: center;
}

#clients .content {
  max-width: 900px;
  margin: auto;
}

#clients .content p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.client-logos {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.client-logos img {
  width: 100px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.client-logos img:hover {
  filter: grayscale(0%);
}

/* -------- clients -------- */

/* -------- results -------- */
#results {
  padding: 100px 20px;
  text-align: center;
  background: linear-gradient(to bottom, var(--primary), var(--accent));
}

#divider-results-bottom {
  background-color: var(--accent);
}

#results .content {
  max-width: 900px;
  margin: auto;
}

.results-stats {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.stat h3 {
  font-size: 2.5rem;
  color: #004080;
}

.stat p {
  font-size: 1rem;
  color: #333;
}
/* -------- results -------- */

/* -------- contact -------- */
#contact {
  padding: 100px 20px;
}

#contact .content {
  max-width: 900px;
  margin: auto;
}
/* -------- contact -------- */
